.contenedor{
    padding-top: 6rem;
    padding-bottom: 4rem;
    width: 80% ;
}

.carruselservicios{
    height: 38rem;
}

.img1{
    height: 38rem;
}

.textcarusel{
    font-size: 2rem;
    color:black;
}

.textcarusel1{
    color:rgb(10, 25, 66);
}
